<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <script defer src="{{ url_for('static', filename='js/login_registro.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <a href=".html" class="nav-link {% if active_page == 'home' %}active{% endif %}">Bienvenido</a>
            <a href="contacto.html" class="nav-link {% if active_page == 'contacto' %}active{% endif %}">Contácto</a>
            <a href="precios.htnl" class="nav-link {% if active_page == 'precios' %}active{% endif %}">Servicios</a>
            <a href="ayuda.html" class="nav-link {% if active_page == 'ayuda' %}active{% endif %}">Ayuda</a>
        </div>
        <div class="navbar-center1">
            <h1 class="logo">VOK PETS RESORT</h1>
        </div>
        <div class="navbar-right">
           <a href="https://www.instagram.com/vokpetsresort?igsh=anltb25naDg5cG91" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
        </div>
    </header>
    
      <section class="hero">
        <div class="hero-text">
          <h2>Este lugar mas que un hotel, es un hogar temporal lleno de amor y diversión para tu mascota.</h2>
          <p>Hotel • Daycare • Grooming • Veterinaria</p>
        </div>
      </section>

      <div class="sqs-html-content">
        <h2 style="white-space:pre-wrap;">
         Nuestra empresa nace con una <strong>VISIÓN: </strong>Ser el hotel para perros líder en San José, que reconocido por ofrecer un servicio excepcional y personalizado que garantice la felicidad, el bienestar y la comodidad de nuestros huéspedes peludos, brindando tranquilidad a los dueños y contribuyendo al fortalecimiento del vínculo humano-animal. Y una <strong>MISIÓN: </strong>Proporcionar un espacio seguro, divertido y acogedor para perros, donde puedan disfrutar de actividades recreativas, cuidado especializado y atención individualizada. Nos comprometemos a ofrecer un servicio de alta calidad, promoviendo la salud y el bienestar de los animales mientras brindamos confianza y tranquilidad a sus propietarios.
        </h2>
      </div>

      <section class="hero-2">
        <div class="hero-2-text">
          <h2>Instalaciones</h2>
          <p>Nuestro hotel cuenta con espacios adaptados para la comodidad de tus consentidos. Nuestras habitaciones están diseñadas para un perrito de tamaño mediano o dos pequeñines de una misma familia. Al realizar el check-in, cada huésped contará una habitación</p>
        </div>
      </section>
      


    <footer>
        <p>© 2025 Vok Pets Resort - Todos los derechos reservados</p>
    </footer>

</body>

</html>


